{% extends 'base.html' %}
{% load static %}

{% block head %}

<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"/>
<style>
  main {
    {% if park.parkphoto.url %}
      background-image: url("{{park.parkphoto.url}}")
    {% else %}
      background-image: url("{{park.national_park.img_url}}")
    {% endif %}
  }
</style>

{% endblock %}


{% block content %}

<div class="form-container">
  <div class="page-header">
    <h1>Delete Park?</h1>
  </div>

  <h2 class="delete-confirm-text">Are you sure you want to delete {{ park.name }}?</h2>

  <form 
    action="" 
    method="post"
    class="confirm-delete"
  >
    {% csrf_token %}
    <a 
      href="{% url 'park-detail' park.id %}" 
      class="btn secondary"
    >
      Cancel
    </a>
    <button type="submit" class="btn danger">Yes, delete</button>
  </form>

</div>

{% endblock %}