{% extends 'base.html' %}
{% load static %}

{% block head %}

<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"/>
<script defer src="{% static 'js/park-detail.js' %}"></script>
<style>
  main {
    {% if park %}
      {% if park.parkphoto.url %}
        background-image: url("{{park.parkphoto.url}}")
      {% else %}
        background-image: url("{% static 'images/zion-by-matthias-mullie.jpg' %}")
      {% endif %}
    {% else %}
        background-image: url("{% static 'images/rocky-mountain-by-harold-wainwright.jpg' %}")
    {% endif %}
  }
</style>

{% endblock %}


{% block content %}

<div class="form-container">

  <div class="page-header">
    {% if park %}
      <h1>Edit {{park.name}}</h1>
    {% else %}
      <h1>Add a Park</h1>
    {% endif %}
  </div>

  <form 
    action=""
    method="post" 
    autocomplete="off"
    enctype="multipart/form-data"
  >

    {% csrf_token %}
    <table> {{ form.as_table }} </table>

    {% comment %} <div class="photo-picker">
      <label class="link-icon">
        Add photo
        <img 
          src="{% static 'icons/add-photo.svg' %}" 
          alt="add park photo"
        >
        <input type="file" name="photo-file" id="file-input">
      </label>
      <p id="file-name"></p>
    </div> {% endcomment %}

    <button type="submit" class="btn submit">Save Park</button>

  </form>
</div>

{% endblock %}