main {
  color: black;
}

.park-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 60px)
}

.park-img {
  background-color: black;
  width: 100%;
  height: 65%;
}

.park-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 25%;
}

/* .usr-img {
  width: 100%;
  border-radius: var(--card-border-radius);
} */

.park-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 35%;
  background-color:aliceblue;
}

.park-details .park-text{
  text-align: center;
}

.park-details h1 {
  font-size: var(--font-xxl);
  margin: 20px 0;
}

.park-details .highlights {
  font-size: var(--font-xl);
  margin-bottom: 10px;
  font-style: italic;
  font-weight: 300;
}

.park-details .visit {
  font-size: var(--font-xl);
  font-weight: 300;
  margin-bottom: 50px;
}

.park-actions {
  position: absolute;
  top: 30px;
  right: 40px;
}

.activities-container {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  background-color: rgb(228, 241, 252);
}

.activities-container h2 {
  font-size: var(--font-xxl);
  margin: 20px 0;
  font-weight: 500;

}

.card-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 300px;
  align-items: center;
  grid-template-areas: "details image";
  border:#e7f2fb solid 1px;

}

.card:nth-child(odd) {

  grid-template-areas: "image details";
}

.card:nth-child(even) {
  background-color: aliceblue;
}

.card-img-container {
  grid-area: image;
  height: 300px;
  display: flex; 
  align-items: stretch;
}

.card-text-container {
  grid-area: details;
  display: flex; 
  flex-direction: column;
}

.card:nth-child(odd) > .card-img-container {
  justify-content: flex-end;
}

.card:nth-child(even) > .card-text-container {
  align-items: flex-end;
  padding-right: 50px;
}

.card:nth-child(even) .card-img-container {
  justify-content: flex-start;
}

.card:nth-child(odd) > .card-text-container {
  align-items: flex-start;
  padding-left: 50px;
}

.card-text-container > div {
  display: flex;
  align-items: center;
  margin: 0 0 15px 0;
}

.card-text-container .type {
  background-color: orange;
  border-radius: 15px;
  font-size: var(--font-l);
  padding: 5px 20px;
  margin-right: 20px;
}

.card-text-container .description {
  font-size: var(--font-xxl);
  font-weight: 300;
  margin: 0;
}

.card-text-container .comments {
  font-size: var(--font-xl);
  font-weight: 300;
  font-style: italic;
  margin: 0;
}

.form-container {
  /* border: var(--borders); */
  border-radius: var(--card-border-radius);
  box-shadow: var(--card-box-shadow);

  margin: 80px 0;
  padding: 15px;
  min-width: 360px;
  background-color:white;
}

.form-container h2 {
  text-align: center;
  font-size: var(--font-xl);
  font-weight:bolder;
  margin: 10px 0 15px 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

table {
  padding: 0 40px;
  width: 100%;
  border-spacing: 0 20px;
}

th {
  text-align: left;
  padding: 6px 20px 0 0;
  font-weight: normal;
  vertical-align: top;
  font-size: var(--font-reg);
}

td {
  max-width: 60%;
}

td > * {
  width: 100%;
  padding: 2px 4px;
  font-size: var(--font-l);
}

td > textarea {
  height: calc(4 * var(--font-l) + 8px);
  font-family: inherit;
}

.photo-picker {
  display: flex;
  align-items: center;
  font-size: var(--font-l);
}

#file-name {
  margin: 0 0 0 15px;
}

.btn.submit{
  align-self: flex-end;
  margin-right: 40px;
}

/* .form-container > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

#file-input {
  overflow: hidden;
  position: absolute;
  width: 0.1px;
  height: 0.1px;
}