{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}"/>
{% endblock %}

{% block content %}

<section class="intro">
  <h1 class="header">Park Hopper</h1>

  <p class="sub-header">
    Capture and Plan Your Adventures
  </p>

</section>

<section class="about">
  <h1>About</h1>
  <p>Park Hopper is for avid national park enthusiasts seeking a platform to document the parks they've explored and the ones they want to visit. Add photos and comments to create lasting memories of the exciting adventures experienced at these breathtaking locations.   
  </p>
</section>

<footer>
  <p>© 2023 PARKHOPPER ALL RIGHTS RESERVED</p>
</footer>
{% endblock %}