{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
{% endblock %}

{% block content %}

<section class="logo-container">
  {% comment %} <div class="park-container">
    <img src="{% static 'images/placeholder.jpg' %}" alt="" />
  </div> {% endcomment %}
  <img 
    src="{% static 'images/placeholder.jpg' %}" 
    alt="Text reads: INSERT"
  />
</section>

{% if not user.is_authenticated %}
  <section>

    <div class="page-header">
      <h1>Login</h1>
    </div>

    <form 
      action="{% url 'home' %}" 
      method="post" 
      class="form-container">
      
      {% csrf_token %}
      <table>
      {{ form.as_p }}
      </table>
      <input type="hidden" name="next" value="{{ next }}">
      <button type="submit" class="btn submit">Login</button>
    </form>
  </section>
{% endif %}

{% endblock %}