{% extends 'base.html' %}
{% load static %}

{% block head %}

<link rel="stylesheet" type="text/css" href="{% static 'css/home-signup.css' %}"/>

<style>
  main {
    {% if user.is_authenticated %}
      background-image: url("{% static 'images/teton-by-joshua-earle.jpg' %}")
    {% else %}
      background-image: url("{% static 'images/bryce-by-alex-povolyashko.jpg' %}")
    {% endif %}
  }
</style>

{% endblock %}


{% block content %}

{% if not user.is_authenticated %}
  <section class="form-section">
    <div class="form-container">

      <div class="page-header">
        <h1>Park Hopper</h1>
      </div>

      <form 
        action="{% url 'home' %}" 
        method="post"
      >
        {% csrf_token %}
        <table> {{ form.as_table }} </table>

        <input type="hidden" name="next" value="{{ next }}">
        <button type="submit" class="btn submit">Login</button>
      </form>
    </div>
  </section>

{% else %}
  <h1>Park Hopper</h1>
{% endif %}


{% endblock %}