{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/parks/park-index.css' %}"/>
{% endblock %}


{% block content %}
<section class="page-header">
  <h1>All National Parks</h1>
</section>

<section class="card-container">
  {% for nps in nps_all %}
    <div class="card">
    
    {%load index_favorite%}
    {% with nps.park_set.all|index_favorite:user.id as park_id %}
      {% if park_id %}
        <a href="{% url 'park-detail' park_id %}">
      {% else %}
        <a href="{% url 'park-create' nps.id %}">  
      {% endif %} 
    {% endwith %}

          <div class="card-content">
            <div class="card-img-container">
              <img
                src="{{nps.img_url}}"
                alt="a photo of {{nps.name}}"
              >
            </div>

            <div class="card-text-container">
              <h2 class="card-title">{{ nps.name }}</h2>
            </div>
          </div>
        </a> 
    </div>
  {% endfor %}
</section>
{% endblock %}