{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/parks/park-detail.css' %}"/>
<script defer src="{% static 'js/park-detail.js' %}"></script>
{% endblock %}


{% block content %}

<section class="park-container">
  <div class="park-img">
    <img
      {% if park.parkphoto.url %}
        src="{{park.parkphoto.url}}" 
      {% else %}
        src="{{park.nps.img_url}}"
      {% endif %}
      alt="a photo of {{park.name}}"
    >
  </div>

  <div class="park-details">
    <div class="park-text">
      <h1>{{park.name}}</h1>
      <p class="highlights">{{park.highlights}}</p>

      {% if park.year_visited %}
        <p class="visit">visited in {{park.year_visited}}</p>
      {% else %}
        <p class="visit">Must Visit!</p>
      {% endif %}
    </div>

    <div class="park-actions">
      <a href="{% url 'park-update' park.id %}" class="link-icon edit"> 
        <img 
          src="{% static 'icons/edit.svg' %}" 
          alt="edit park"
        >
      </a>
      <a href="{% url 'park-delete' park.id %}" class="link-icon delete">
        <img 
          src="{% static 'icons/delete.svg' %}" 
          alt="delete park"
        >
      </a>
    </div>
  </div>
</section>

<section class="activities-container">
  <h2>Activities</h2>

  <div class="card-container">
    {% for activity in park.activity_set.all %}

      <div class="card">
        <div class="card-img-container">
          {% if activity.activityphoto.url %}
            <img 
              src="{{activity.activityphoto.url}}" 
              alt="a photo of {{activity.description}}"
            >
          {% else %}
            <img
              src="{% static 'images/activity-'%}{{activity.type}}.jpg" 
              alt="a placeholder photo of a {{activity.type}}"
            >
          {% endif %}
        </div>

        <div class="card-text-container">
          <div>
            <p class="type">{{activity.get_type_display}}</p>
            <p class="description">{{activity.description}}</p>
          </div>
          <p class="comments">{{activity.comments}}</p>
        </div>
      </div>

    {% endfor %}
  </div>

  <div class="form-container">
    <h2>Add an Activity</h2>
    <form
      action="{% url 'add-activity' park.id %}"
      method="post" 
      autocomplete="off"
      enctype="multipart/form-data"
    >
      {% csrf_token %}
      <table> {{ activity_form.as_table }}</table>
      
      <div class="photo-picker">
        <label class="link-icon">
          Add photo
          <img 
            src="{% static 'icons/add-photo.svg' %}" 
            alt="add photo of activity"
          >
          <input type="file" name="photo-file" id="file-input">
        </label>
        <p id="file-name"></p>
      </div>

      <button type="submit" class="btn submit">Add Activity</button>
    </form>
  </div>
  
</section>
{% endblock %}