{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/parks/park-detail.css' %}"
/>
<script defer src="{% static 'js/park-detail.js' %}"></script>
{% endblock %}

{% block content %}

<section class="park-container">

  <div class="park-img">
    {% if park.parkphoto.url %}
      <img 
        src="{{park.parkphoto.url}}" 
        alt="A photo of {{park.name}}"
        class="usr-img"
      >
    {% else %}
      <img 
        src="{% static 'images/yosemite-by-rodrigo-soares.jpg' %}" 
        alt="Yosemite National Park"
      >
    {% endif %}
  </div>

  <div class="park-details">
    <div class="park-text">
      <h1>{{park.name}}, {{park.state}}</h1>
      <p class="highlights">{{park.highlights}}</p>
      {% if park.year_visited %}
        <p class="visit">visited in {{park.year_visited}}</p>
      {% else %}
        <p class="visit">Must Visit!</p>
      {% endif %}
    </div>

    <div class="park-actions">
      <a href="{% url 'park-update' park.id %}" class="link edit"> Edit 
        <i class="fa-solid fa-pen-to-square"></i>
      </a>
      <a href="{% url 'park-delete' park.id %}" class="link delete">Delete
        <i class="fa-solid fa-trash"></i>
      </a>
    </div>

    {% comment %} <h3>Change {{ park.name }}'s photo</h3>
    <p id="file-name"></p>
    <form 
      action="{% url 'add-park-photo' park.id %}"
      enctype="multipart/form-data"
      method="POST"
    >
      {% csrf_token %}
      <label class="btn secondary">
        Choose photo
        <input type="file" name="photo-file" id="file-input">
      </label>
      <button type="submit" class="btn submit">Upload Photo</button>
    </form> {% endcomment %}
  </div>
</section>

<section class="activities-container">

  <h2>Activities</h2>

  <div class="card-container">
    {% for activity in park.activity_set.all %}

      <div class="card">

        <div class="card-img-container">
          {% if activity.activityphoto.url %}
            <img 
              src="{{activity.activityphoto.url}}" 
              alt="A photo of {{activity.description}}"
              class="usr-img"
            >
          {% else %}
            <img
              src="{% static 'images/activity-'%}{{activity.type}}.jpg" 
              alt=""
            >
          {% endif %}
        </div>

        <div class="card-text-container">
          <div>
            <p class="type">{{activity.get_type_display}}</p>
            <p class="description">{{activity.description}}</p>
          </div>
          <p class="comments">{{activity.comments}}</p>
        </div>

      </div>
    {% endfor %}
  </div>

  <div class="form-container">
    <h2>Add an Activity</h2>
    <form
      action="{% url 'add-activity' park.id %}"
      method="post" 
      autocomplete="off"
      enctype="multipart/form-data"
    >
      {% csrf_token %}
      <table>
        {{ activity_form.as_table }}
      </table>
      
      <div class="photo-picker">
        <label class="btn secondary">
          Choose photo
          <input type="file" name="photo-file" id="file-input">
        </label>
        <p id="file-name"></p>
        {% comment %} <button type="submit" class="btn submit">Upload Photo</button> {% endcomment %}
      </div>
      <button type="submit" class="btn submit">Add Activity</button>
    </form>
  </div>
  
</section>
{% endblock %}