{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/parks/park-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>My National Parks</h1>
</section>

<section class="card-container">
  {% for park in parks %}
    <div class="card">
      <a href="{% url 'park-detail' park.id %}">
        <div class="card-content">
          <div class="card-img-container">
            {% comment %} {% if park.parkphoto.url %}
              <img 
                src="{{park.parkphoto.url}}" 
                alt="A photo of {{park.name}}"
                class="usr-img"
              >
            {% else %} {% endcomment %}
              <img 
                src="{% static 'images/placeholder.jpg' %}" 
                alt=""
              >
            {% comment %} {% endif %} {% endcomment %}
          </div>

          <div class="card-text-container">
            <h2 class="card-title">{{ park.name }}, {{ park.state}} </h2>
            {% comment %} {% if park.activity_set.all.count %}
              <p id="activity">{{ park.activity_set.all.count }}
                {% if park.activity_set.all.count == 1 %} activity {% else %} activities {% endif %}
              </p>
            {% endif %} {% endcomment %}
          </div>

          {% if park.year_visited %}
            {% comment %} <p id="visited"> Visited {{ park.year_visited }}</p> {% endcomment %}
            <img id="visited" 
              src="{% static 'images/goal2.svg' %}" 
              alt=""
            >
          {% endif %}

        </div>
      </a>
    </div>
  {% endfor %}
</section>

{% endblock %}