{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/parks/park-index.css' %}"/>
{% endblock %}


{% block content %}

<section class="page-header">
  {% if not parks %}
    <h1> Welcome {{user.username}}! </h1>
    <h1>Start by adding a national park to your list!</h1>
  {% else %}
    <h1>All National Parks</h1>
  {% endif %}
</section>

<section class="card-container">
  {% for park in parks %}
    <div class="card">
      {% comment %} <a href="{% url 'park-detail' park.id %}"> {% endcomment %}
        <div class="card-content">
          <div class="card-img-container">
            <img
              {% comment %} {% if park.parkphoto.url %}
                src="{{park.parkphoto.url}}" 
              {% else %} {% endcomment %}
                src="{{park.img_url}}"
              {% comment %} {% endif %} {% endcomment %}
              alt="a photo of {{park.name}}"
            >

            {% comment %} {% if park.year_visited %}
              <div class="banner-container">
                <div class="banner">Visited</div>
              </div>
            {% endif %} {% endcomment %}
          </div>

          <div class="card-text-container">
            <h2 class="card-title">{{ park.name }}</h2>
          </div>
        </div>
      {% comment %} </a> {% endcomment %}
    </div>
  {% endfor %}
</section>

{% endblock %}