{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/parks/park-index.css' %}"/>
{% endblock %}


{% block content %}

<section class="page-header">
  <h1>All National Parks</h1>
</section>

<section class="card-container">
  {% for nps in national_parks %}
    <div class="card">
      {% comment %} {% if park.code in favorites %} {% endcomment %}
      {% comment %} <a href="{% url 'park-detail' nps.id %}"> {% endcomment %}
      <a href="{% url 'park-create' nps.id %}">
        <div class="card-content">
          <div class="card-img-container">
            <img
              src="{{nps.img_url}}"
              alt="a photo of {{nps.name}}"
            >
          </div>

          <div class="card-text-container">
            <h2 class="card-title">{{ nps.name }}</h2>
          </div>
        </div>
      </a>
    </div>
  {% endfor %}
</section>

{% endblock %}