main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro {
  width: 100%;
  height: calc(100vh - 60px);
  background-image: url("../images/yosemite-by-mick-haupt.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.header {
  font-size: 8rem;
  color: white;
  margin: 20vh 0 20px 0;
}

.sub-header {
  font-size: var(--font-xtreme);
  margin: 0;
  color: white;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 60%;
}

.about > h1 {
  font-size: var(--font-xtreme);
  margin: 0 0 40px 0;
  font-weight: 500;
}

.about > p {
  font-size: var( --font-xl);
  font-weight: 300;
  margin: 0;
  text-align: center;
  line-height: 1.5;
}

footer {
  width: 100%;
  padding: 20px 0px;
  background-color: var(--nav-color);
  text-align: center;
}

footer > p {
  font-size: var(--font-reg);
  margin: 0;
  color: white;
}