html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
  font-size: 62.5%
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;

  --background-color: rgb(230, 230, 230, 1);
  --nav-color: rgba(45, 83, 85, 0.9);
  --nav-hover-color: #ff9184;
  --button-bg: rgb(245, 245, 245);
  --button-bg-hover: rgb(226, 226, 226);
  --submit: #1a8000;
  --warn: #ff6600;
  --danger: #dc141e;
  --secondary: rgb(98, 98, 98);
  --card-box-shadow: 5px 5px 6px -1px #AAA; 
  --card-border-radius: 6px;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 
  'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 
  'Helvetica Neue', sans-serif;
  --font-xtreme: 4.2rem;
  --font-xxl: 3.6rem;
  --font-xl: 2.4rem;
  --font-l: 1.8rem;
  --font-reg: 1.6rem;

  background-color: var(--background-color);
}

header {
  position: sticky;
  display: flex;
  flex-direction: row;
  top: 0;
  align-items: center;
  z-index: 1;
  width: 100%;
  background-color: var(--nav-color);
  height: 60px;
}

.header-logo-container {
  height: 100%; 
  width: 40%;
  padding: 8px 20px;
  display: flex;
  justify-content: flex-start;
}

.header-logo-container a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.header-logo-container img {
  width: 45px;
  margin-right: 20px;
  height: 45px;
}

nav {
  padding: 0 20px;
  margin-left: auto;
}

nav > ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  padding: 10px 10px;
}

nav a, .header-logo-container a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 16px;
}

nav a:hover, .header-logo-container a:hover {
  color: var(--nav-hover-color)
}

main {
  width: 100%;
  min-height: calc(100vh - 60px);
  color: black;
}

.btn {
  font-size: var(--font-l);
  padding: 8px 16px;
  border-radius: 6px;
  border-width: 2px;
  border-style: solid;
  text-decoration: none;
  border-color:transparent;
  color: var(--button-bg);
  font-weight: 600;
  cursor: pointer;
  font-family: inherit;
  margin-right: 10px;
}

.btn:active {
  transform: scale(0.95);
}

.submit {
  background-color: var(--submit);
}

.secondary {
  background-color: var(--secondary);
}

.warn {
  background-color: var(--warn);
}

.edit {
  color: var(--warn);
}

.delete {
  color: var(--danger);
}

.danger {
  background-color: var(--danger);
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  header {
    background: var(--nav-color);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
  }
}