main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  background-image: url("https://www.nps.gov/common/uploads/structured_data/68BFC1AC-BF96-629F-89D261D78F181C64.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

section {
  height: 100vh;
  width: 50%;
  align-self: flex-end;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
}

div {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.page-header {
  margin: 0 0 20px 0;
  width: 100%;
  /* font-size: clamp(3.2rem, 3vw, 4.8rem); */
  font-size: var(--font-xtreme);
  margin: 10px 0;
}

form {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* border: var(--borders);
  border-radius: var(--card-border-radius);
  box-shadow: var(--card-box-shadow); */
}

form > p {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 15px 0 0px;
}

form label {
  font-size: var(--font-reg);
  margin-bottom: 6px;
}

form input {
  font-size: var(--font-l);
  padding: 2px 4px;
}

form .btn {
  align-self: flex-end;
  margin-right: 0;
  margin-top: 20px;
}
