main {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;


  /* background-image: url("https://www.nps.gov/common/uploads/structured_data/68BFC1AC-BF96-629F-89D261D78F181C64.jpg");
  background-repeat: no-repeat;
  background-size: cover; */
  height: calc(100vh - 60px);
  /* height: 100vh; */
}

.image-section {
  height: 100%;
  width: 110%;
  position: relative;
}

.image-section img {
  width: 100%;
  height: 100%;
  /* align-self: flex-start; */
  object-fit: cover;
  /* object-position: 50% 20%; */
}

.image-section h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 8.2rem;
  color: white;
  margin: 0;
}

.form-section {
  /* height: calc(100vh - 60px); */
  height: 100%;
  width: 90%;
  /* align-self: flex-end; */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  /* background-color: white; */
}

.form-container {
  width: 75%;
  display: flex;
  flex-direction: column;
}

.page-header {
  /* margin: 0 0 20px 0; */
  width: 100%;
  /* font-size: clamp(3.2rem, 3vw, 4.8rem); */
  /* margin: 10px 0; */
  /* justify-content: center; */
  text-align: center;
}

.page-header h1 {
  margin: 0;
  font-size: var(--font-xtreme);
}

form {
  width: 100%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* border: var(--borders);
  border-radius: var(--card-border-radius);
  box-shadow: var(--card-box-shadow); */
}

/* form > p {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 15px 0 0px;
} */

/* form label {
  font-size: var(--font-reg);
  margin-bottom: 6px;
} */

/* form input {
  font-size: var(--font-l);
  padding: 2px 4px;
} */

/* form .btn {
  align-self: flex-end;
  margin-right: 0;
  margin-top: 20px;
} */

table {
  /* padding: 0 40px; */
  width: 100%;
  border-spacing: 0 20px;
}

/* tr {
  margin-bottom: 20px;
} */

th {
  text-align: left;
  padding: 6px 0 0 0;
  font-weight: normal;
  vertical-align: top;
  font-size: var(--font-reg);

}

/* td {
  max-width: 60%;
} */

td input {
  width: 100%;
  padding: 2px 4px;
  font-size: var(--font-l);
  margin-bottom: 10px;
}

.btn {
  align-self: flex-end;
  margin: 0;
  /* margin-right: 40px; */
}

.helptext {
  font-size: 14px;
  padding: 0;
  margin: 0;
  color: var(--help-text-color);
}

.helptext ul {
  padding-left: 15px;
  margin: 15px 0;
}

.errorlist {
  list-style: none;
  font-size: var(--font-reg);
  text-align: center;
  color:rgb(185, 0, 0);
}