main {
  display: flex;
  justify-content: flex-end;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 60px);
}

main > h1 {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 8.2rem;
  color: white;
  margin: 0;
}

.form-section {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(230, 230, 230, .9);
  color: black;
}

.form-container {
  width: 75%;
  display: flex;
  flex-direction: column;
}

.page-header {
  width: 100%;
  text-align: center;
}

.page-header h1 {
  margin: 0;
  font-size: var(--font-xtreme);
}

form {
  width: 100%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table {
  width: 100%;
  border-spacing: 0 20px;
}

th {
  text-align: left;
  padding: 6px 0 0 0;
  font-weight: normal;
  vertical-align: top;
  font-size: var(--font-l);

}

td input {
  width: 100%;
  padding: 2px 4px;
  font-size: var(--font-l);
  margin-bottom: 10px;
}

.btn {
  align-self: flex-end;
  margin: 0;
}

.helptext {
  font-size: 14px;
  padding: 0;
  margin: 0;
  color: black;
  font-style: italic;
}

.helptext ul {
  padding-left: 15px;
  margin: 15px 0;
}

.errorlist, .red-text {
  list-style: none;
  font-size: var(--font-reg);
  text-align: center;
  color:rgb(185, 0, 0);
}